robotframework==7.1.1  # The core Robot Framework package
robotframework-seleniumlibrary==6.7.0  # For web automation
robotframework-requests==0.9.3  # For API testing
robotframework-jsonlibrary==0.5  # For handling JSON data
robotframework-datadriver==1.11.2  # For data-driven testing
selenium==4.27.1  # WebDriver for SeleniumLibrary
wxpython==4.2.2 # Screenshot for Python GUI toolkit
pyocd==0.36.0 # Screenshot for Python GUI toolkit

